/* INPUT FIELDS */
.search-container .top-bar input, .search-container .top-bar button {
  border: none;
  border-radius: 100px;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
}

.search-container .top-bar input {
  background-color: rgba(255, 255, 255, 0.56);
  color: white;
}

.search-container .top-bar input::placeholder {
  color: rgba(255, 255, 255, 0.524);
}

.search-container .top-bar button {
  cursor: pointer;
  font-weight: 700;
  transition: 300ms;
  width: 209px;
}

.search-container .top-bar button:not( [ disabled ] ) {
  background-color: var(--secondary-color);
  color: white;
}

/* ALBUMS */
.search-container .search-result-text {
  color: var(--primary-color);
  font-style: italic;
  font-weight: 300;
  margin: 16px 0;
  text-align: center;

}

.search-container .albums-search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
  margin-top: 18px;

}

.search-container .albums-search-result {
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  padding: 6px;
  width: 160px;
}

.search-container .link-to-album {
  color: #3d495c;
  text-decoration: none;
}

.search-container .albums-search-result .collection-artwork {
  border-radius: 8px;
  width: 100%;
}

.search-container .collection-name {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.search-container .artist-name {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: auto;
}

@media only screen and ( min-width : 768px ) {

  .search-container .top-bar {
    flex-direction: unset;
  }

  .search-container .top-bar input, .search-container .top-bar button {
    border: none;
    border-radius: 100px;
    color: white;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 460px;
  }

  .search-container .top-bar input {
    background-color: rgba(255, 255, 255, 0.56);
  }

  .search-container .top-bar input::placeholder {
    color: rgba(255, 255, 255, 0.524);
  }

  .search-container .top-bar button {
    cursor: pointer;
    font-weight: 700;
    transition: 300ms;
    width: 132px;
  }

  .search-container .top-bar button:not( [ disabled ] ) {
    background-color: var(--secondary-color);
  }

  .search-container .albums-search-container {
    gap: 32px;
    padding: 0 64px;

    /* display: grid;
    grid-template-columns: auto auto auto auto; */
  }

  .search-container .albums-search-result {
    border-radius: 16px;
    min-width: 260px;
  }

  .search-container .collection-name {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding: 0 6px;
  }

  .search-container .artist-name {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: auto;
    padding: 2px 6px;
  }

}
